/*** IMPORT FONT ***/

@font-face {
	font-family: Roboto;
	src: url('../fonts/Roboto-Regular.ttf')
}
@font-face {
	font-family: Roboto;
	src: url('../fonts/slick.ttf')
}

/*** --- ***/

/*** OVERRIDES ***/

body {
	width: 100%;
	font-size: 87.5%;
	font-family: Roboto, sans-serif;
	background-color: #fafafa;
}
img {
	max-width: 100%;
}
input {
	outline: none;
	border: none;
}
button {
	outline: none !important;
}
a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	text-decoration: none;
	color: #fff;
}
.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	height: auto;
	border: 1px solid black;
	box-sizing: border-box;
}
.inline {
	display: inline;
}
.test {
	width: 200px;
	height: 40px;
	border: 1px solid black;
	background-color: pink;
}
/*** START HEADER PAGE ***/
#main-header {
	width: 100%;
	height: 130px;
	background-color: #005eb8;
}
#top-header {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
	#top-header h1.company-logo > a > img {
		max-width: 140px;
		height: 40px;
	}
	#top-header > div.input-search > input {
		padding: 10px;
		width: 500px;
		height: 40px;
		border: none;
		border-radius: 5px;
		box-sizing: border-box;
	}
		#top-header > div.input-search > span.input-btn {
			position: relative;
			left: -45px;
			width: 40px;
			height: 40px;
			box-sizing: border-box;
		}
			#top-header > div.input-search > span.input-btn > button.btn {
				padding: 13px;
				width: 40px;
				height: 40px;
				border: none;
				border-left: 1px solid #dbe3eb;
				background-color: #fff;
				box-sizing: border-box;
			}
#top-header-nav > ul > li {
	position: relative;
	float: left;
	margin: 10px;
}
#top-header-nav > ul > li > a {
	display: inline-block;
	line-height: 80px;
}
#top-header-nav > ul > li > a > i {
	padding: 2px;
}
#top-header-nav > ul > li:first-child:hover div.my-account {
	display: block;
	z-index: 10;
}
#top-header-nav > ul > li:nth-child(2):hover div.favourite {
	display: block;
	z-index: 10;
}
	#top-header-nav > ul > li > a > span.nav-icon {
		padding-right: 10px;
	}
	#top-header-nav > ul > li > div {
		display: none;
		background-color: #fefefe;
		border-radius: 10px;
		box-sizing: border-box;
	}
	#top-header-nav > ul > li > div.my-account {
		width: 220px;
		height: 150px;
		position: absolute;
		top: 60px;
		left: -120px;
	}
	#top-header-nav > ul > li > div.favourite {
		width: 300px;
		height: 150px;
		position: absolute;
		top: 60px;
		left: -200px;
	}
	#top-header-nav > ul > li > div > div {
		margin: 30px;
	}
	#top-header-nav > ul > li > div.my-account > div.account-info > a {
		margin-bottom: 20px;
		width: 160px;
		height: 30px;
	}
	#top-header-nav > ul > li > div.favourite > div.favourite-info > a {
		margin-top: 20px;
		width: 260px;
		height: 35px;
	}
	#top-header-nav > ul > li > div.favourite > div.favourite-info > p {
		text-align: justify;
		color: #797979;
	}
	#top-header-nav > ul > li > div.my-account > div.account-info > p > a {
		color: #3c77a5;
	}
	#top-header-nav > ul > li > div.my-account > div.account-info > p > a:hover {
		text-decoration: underline;
	}
	.top-header-btn {
		padding: 10px;
		display: inline-block;
		color: #eaf1f7;
		background-color: #1963a1;
		border-radius: 5px;
		text-align: center;
	}
#bottom-header {
	width: 100%;
	height: 50px;
	background-color: #fff;
	border: 1px solid red;
	box-shadow: 0 0 50px #888888;
	display: flex;
	align-items: center;
}
#bottom-nav > ul {
	width: 100%;
}
#bottom-nav > ul > li {
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	max-width: 200px;
	box-sizing: border-box;
}
#bottom-nav > ul > li:first-child {
	padding-left: 0;
} 
#bottom-nav > ul > li:last-child {
	float: right;
}
#bottom-nav > ul > li:last-child > i {
	padding-right: 10px;
	color: #005db5;
}
#bottom-nav > ul > li:last-child > a:hover {
	border: none;
}
#bottom-nav > ul > li > a {
	color: #4e565f;
	line-height: 3.5em;
	box-sizing: border-box;
}
#bottom-nav > ul > li > a:hover {
	border-bottom: 1px solid #4e565f;
}

/*** END HEADER PAGE ***/

/*** START MAIN PAGE ***/

/*** START CAROUSEL ***/

.main-carousel {
	width: 100%;
	height: 480px;
	background-color: cadetblue;
}



/*** END CAROUSEL ***/



/*** END MAIN PAGE ***/

/*** START LOGIN.html ***/

#login {
	margin: 50px auto;
	width: 100%;
	max-width: 600px;
	height: 700px;
	box-sizing: border-box;
}
h1.company-logo {
	text-align: center;
}
#login > div.login-register{
	margin: 30px auto;
	width: 400px;
	height: 450px;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 3px 3px 2px #dedede;
	display: flex;
  	justify-content: center;
}
div.login-register > form {
	padding-top: 30px;
	text-align: center;
}
div.login-register > form > fieldset > legend {
	margin-bottom: 40px;
	font-size: 2em;
	color: #999999;
}
div.login-register > form > fieldset > label {
	display: block;
	margin-bottom: 20px;
	font-size: 1.2em;
	color: #404040;
}
div.login-register > form > fieldset > input {
	padding-left: 10px;
	display: block;
	margin-bottom: 20px;
	width: 320px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #bbbbbb;
	box-sizing: border-box;
}
div.login-register > form > fieldset > input#login-email {
	position: relative;
}
div.login-register > form > fieldset > div#error-box > span.error {
	position: relative;
	top: -45px;
	left: 135px;
	color: #CC0000;
}
div.login-register > form > fieldset > div#error-box > p.error-text {
	margin-top: -20px;
	margin-bottom: 20px;
	margin-left: -191px;
	color: #CC0000;
}
div.login-register > form > fieldset > input:hover {
	border: 1px solid #888888;
}
div.login-register > form > fieldset > input#continue-btn {
	border: none;
	background-color: #0068b5;
	color: #efffff;
}
div.login-register > form > fieldset > input#continue-btn:hover {
	background-color: #115A8E;
}
div.login-register > form > p {
	line-height: 1.3em;
}
div.login-register > form > p:last-child {
	margin-top: 20px;
	color: #999999;
}
div.login-register > form > div.social-btn {
	margin-top: 20px;
	text-align: left;
}
div.login-register > form > div.social-btn > a {
	padding: 15px;
	display: inline-block;
	width: 160px;
	border-radius: 5px;
	font-size: 1.1em;
	box-sizing: border-box;
}
div.login-register > form > div.social-btn > a > i {
	padding-right: 50px;
}
div.login-register > form > div.social-btn > a:first-child {
	margin-right: 10px;
	background-color: #3b5998;
}
div.login-register > form > div.social-btn > a:last-child {
	background-color: #df4a32;
}
#login >  a {
	display: inline-block;
	width: 100%;
	color: #0068b5;
	text-align: center;
}
#login > div.account {
	margin-top: 100px;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
}
#login > div.account > a {
	padding-left: 10px;
	padding-right: 10px;
	color: #5c5c5c;
	text-align: center;
 }
#login > div.account > a:first-child {
	border-right: 1px solid #7ab6e3;
}
.horizontal-line {
	border-top: 2px solid #d1dae8;
}



/*** END LOGIN.html ***/

/*** START REGISTER.html ***/
#register {
	margin: 50px auto;
	width: 100%;
	max-width: 600px;
	height: 800px;
	box-sizing: border-box;
}
#register > div.login-register{
	margin: 30px auto;
	width: 400px;
	height: 665px;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 3px 3px 2px #dedede;
	display: flex;
  	justify-content: center;
}
#register > div.login-register > form > fieldset > input[type="checkbox"].register-check-box {
	display: inline-block;
	margin-bottom: 0;
	-webkit-appearance:none; 
	width: 15px;
	height: 15px;
	cursor: pointer;
	position: relative;
	border: 1px solid #005596;
	border-radius: 2px;
	background-color: #fff;
	outline: none;
}
#register > div.login-register > form > fieldset > input[type="checkbox"].register-check-box:checked {
 	content: '';
}

#register > div.login-register > form > fieldset > input[type="checkbox"].register-check-box:before, #register > div.login-register > form > fieldset > input[type="checkbox"].register-check-box:checked:before {
   	position: absolute;
	top: -7px;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 2em;
	text-align:center;
	color: #005596;
	content: '';
}
#register > div.login-register > form > fieldset > input[type="checkbox"].register-check-box:checked:before {
 	content: '✔'; 
} 
#register > div.login-register > form > fieldset > span {
	padding-left: 10px;
	color: #005596;
}
#register >  a {
	display: inline-block;
	width: 100%;
	color: #0068b5;
	text-align: center;
}
#register > div.account {
	margin-top: 100px;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
}
#register > div.account > a {
	padding-left: 10px;
	padding-right: 10px;
	color: #5c5c5c;
	text-align: center;
 }
#register > div.account > a:first-child {
	border-right: 1px solid #7ab6e3;
}


/*** END REGISTER.html ***/


/*** CLEAR FLOAT ***/
#top-header-nav > ul:after, #bottom-nav > ul:after  {
	display: block;
	content: "";
	clear: both;
}
/*** MEDIA QUERIES ***/
