/*** IMPORT FONT ***/

@font-face {
	font-family: Roboto;
	src: url('../fonts/Roboto-Regular.ttf')
}

/*** --- ***/

/*** OVERRIDES ***/

body {
	width: 100%;
	font-size: 87.5%;
	font-family: Roboto, sans-serif;
	background-color: #fafafa;
}
img {
	max-width: 100%;
}
input {
	outline: none;
}
button {
	outline: none !important;
}
a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	text-decoration: none;
	color: #fff;
}
.wrapper {
	margin: 0 auto;
	max-width: 1170px;
	width: 100%;
	height: 500px;
	border: 1px solid black;
	box-sizing: border-box;
}
.test {
	width: 200px;
	height: 40px;
	border: 1px solid black;
	background-color: pink;
}
/*** START HEADER PAGE ***/
#main-header {
	width: 100%;
	height: 80px;
	background-color: #005eb8;
}
#top-header {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
	#top-header h1.company-logo > a > img {
		max-width: 140px;
		height: 40px;
	}
	#top-header > div.input-search > input {
		padding: 10px;
		width: 500px;
		height: 40px;
		border: none;
		border-radius: 5px;
		box-sizing: border-box;
	}
		#top-header > div.input-search > span.input-btn {
			position: relative;
			left: -45px;
			width: 40px;
			height: 40px;
			box-sizing: border-box;
		}
			#top-header > div.input-search > span.input-btn > button.btn {
				padding: 13px;
				width: 40px;
				height: 40px;
				border: none;
				border-left: 1px solid #dbe3eb;
				background-color: #fff;
				box-sizing: border-box;
			}
#top-header-nav > ul > li {
	position: relative;
	float: left;
	margin: 10px;
}
#top-header-nav > ul > li > a {
	display: inline-block;
	line-height: 80px;
}
#top-header-nav > ul > li:first-child:hover div.my-account {
	display: block;
}
#top-header-nav > ul > li:nth-child(2):hover div.favourite {
	display: block;
}
	#top-header-nav > ul > li > a > span.nav-icon {
		padding-right: 10px;
	}
	#top-header-nav > ul > li > div {
		display: none;
		background-color: #fefefe;
		border-radius: 10px;
		box-sizing: border-box;
	}
	#top-header-nav > ul > li > div.my-account {
		width: 220px;
		height: 150px;
		position: absolute;
		top: 60px;
		left: -120px;
	}
	#top-header-nav > ul > li > div.favourite {
		width: 300px;
		height: 150px;
		position: absolute;
		top: 60px;
		left: -200px;
	}
	#top-header-nav > ul > li > div > div {
		margin: 30px;
	}
	#top-header-nav > ul > li > div.my-account > div.account-info > a {
		margin-bottom: 20px;
		width: 160px;
		height: 30px;
	}
	#top-header-nav > ul > li > div.favourite > div.favourite-info > a {
		margin-top: 20px;
		width: 260px;
		height: 35px;
	}
	#top-header-nav > ul > li > div.favourite > div.favourite-info > p {
		text-align: justify;
		color: #797979;
	}
	#top-header-nav > ul > li > div.my-account > div.account-info > p > a {
		color: #3c77a5;
	}
	#top-header-nav > ul > li > div.my-account > div.account-info > p > a:hover {
		text-decoration: underline;
	}
	.top-header-btn {
		padding: 10px;
		display: inline-block;
		color: #eaf1f7;
		background-color: #1963a1;
		border-radius: 5px;
		text-align: center;
	}


/*** END HEADER PAGE ***/

/*** START MAIN PAGE ***/



/*** END MAIN PAGE ***/
/*** CLEAR FLOAT ***/
#top-header-nav > ul:after {
	display: block;
	content: "";
	clear: both;
}
/*** MEDIA QUERIES ***/
